
.Header {
  min-height: 350px;
  color: white;
  font-family: 'Roboto', sans-serif;
  background: url("/praia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Header h1{
  font-size: 3em;
}

.button{
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: .8em;
  border-radius: 5px;
  transition: all 0.25s ease-out;
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.5);
}